# Path where the data is placed on the admin server
ADMIN_DATA_ROOT=/path/on/admin/server

# hostname of the admin backend server, to be used in SCP commands
ADMIN_SCP_SERVER=servername-for-admin-backend

# docker context name of the admin backend server
ADMIN_DOCKER_CONTEXT=contextname

